:root[data-applied-mode="light"] {
    color-scheme: light;
    --text: #1E1E1E;
    --background: #fefefe;
    --wing1: #E5E5E5;
    --wing2: #CCCCCC;
    --wing3: #BFBFBF;
    --wingback: #db5f6e;
    --iconcolor: #1E1E1E;
}

:root[data-applied-mode="dark"] {
    color-scheme: dark;
    --text: #fefefe;
    --background: #1E1E1E;
    --wing1: #2b2e3b;
    --wing2: #404254;
    --wing3: #52546b;
    --wingback: #db5f6e;
    --iconcolor: #9e9eff;
}

/* Additional themes */
:root[data-applied-mode="vaporwave"] {
    --text: white;
    --background: #4500f2;
    --wing1: #BF4b92;
    --wing2: #e04b94;
    --wing3: #ee4f9d;
    --wingback: #6a2d68;
    --iconcolor: white;
}

:root[data-applied-mode="retro"] {
    --text: white;
    --background: #ffcc5c;
    --wing1: #96ceb4;
    --wing2: #ff6f69;
    --wing3: #ced07d;
    --wingback: #0e9aa7;
    --iconcolor: #005f73;
}

:root[data-applied-mode="nature"] {
    --text: white;
    --background: #ea6414;
    --wing1: #e2d304;
    --wing2: #98cb33;
    --wing3: #38c03f;
    --wingback: green;
    --iconcolor: green;
}



body {
    background-color: var(--background);
    overflow: hidden;
    transition: 0.25s;
}

#topbar {
    height: 100px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#topbar2 {
    height: 100px;
    width: fit-content;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_wing {
        width: 300px;
        height: 150px;
        background-color: var(--wingback);
        transform: rotate(-5deg);
        transition: 0.2s;
        cursor: pointer;
        position: relative;
        z-index: 10;
        top:-140px;
        margin-left: -5px;
}
.back_wing:hover {
    height: 170px;
}
.animate-wing {
    animation: animate-wing 0.65s forwards;
}

.wing:hover {
    height: 170px;
}

.wing {
    width: 330px;
    height: 150px;
    background-color: blue;
    transform: rotate(-5deg);
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 10;
    top:-140px;
}

#menu_wing {
    background-color: var(--wing1);
}

#about_wing {
    background-color: var(--wing2);
    margin-left: -15px;
    width: 260px;
}

#other_wing {
    background-color: var(--wing3);
    margin-left: -20px;
    width: 300px;
}

#menu {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 38px;
    opacity: 0;
    max-width: 935px;
    transition: 0.25s;
  }

  #about {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 50px);
    max-height: calc(100% - 160px);
    margin-top: 65px;
    max-width: 935px;
    opacity: 0;
    transition: 0.25s;
    font-family: 'Geologica', sans-serif;
    color:var(--text);
    font-size: 38px;
    font-weight: 400;
    line-height: 1.5;
    overflow-y: auto;
  }
  
.toggle {
    width: 255px;
    height: fit-content;
    font-size: 70px;
    margin-left: 20px;
    cursor: pointer;
    padding-left: 300px;
}

.fa-solid {display: inline;}

.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
    transition: 0.25s;
    text-align: left;
    max-width: 835px;
    height: 300px;
    padding: 15px;
    color: var(--text);
    max-height: calc(100% - 170px);
  }

  #intro_full {display: none;margin-top:36px;}

  #other {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    display: block;
    font-size: 60px;
    transition: 0.25s;
    text-align: center;
    max-width: 835px;
    padding: 15px;
    opacity: 0;
    color: var(--text);
    max-height: calc(100% - 170px);
  }

.wing_text {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 50px;
    margin-top: 5px;
}

.flag-emojis {height: 30px;margin-bottom: -3px;}

#link:hover {color: var(--text);text-decoration: none;}
#link {transition: 0.15s;}
#yeaah {width: 100%;height: 100%;background-color: var(--wing1);position: absolute;margin: -10px;display: none;z-index: 10;}

#discord {
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: var(--wing2);
    display: flex;
    align-items: center;
  }
  
  #pfp_img {
    width: 200px;
    height: 200px;
  }
  
  #pfp {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  #user_info {
    margin-left: 10px;
    width: 100%;
    height: 200px;
    background-color: var(--wing3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  #username {
    transition: 0.25s;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 4px;
  }
  
  #status {
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    margin-left: 9px;
    margin-top: 9px;
/*     transition: 1s; */
  }
  
  #status_border {
    z-index: 2;
    position: relative;
    background-color: var(--wing2);
    width: 58px;
    height: 58px;
    margin-top: -67px;
    border-radius: 8px;
    margin-left: 151px;
  }
  
  #status_text {
    font-size: 24px;
    display: inline-block;
    margin-left: -168px;
    margin-top: 55px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
    background-color: var(--wing2);
    opacity: 0;
    transition: 0.25s;
  }

  #status_border:hover #status_text {opacity: 1;}

.discord_emoji {
    display: inline-block;
    height: 36px;
    margin-bottom: -8px;
}
#accounts {margin-top: 20px;}
.connection-icons {
	background-color: var(--wing1);
	border-radius: 0.1em;
	font-size: 0.8em;
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	width:100px;
	height: 80px;
	z-index:1;
	color:var(--text);
  }

  .connection-icons-custom {
	background-color: var(--wing1);
	border-radius: 0.1em;
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	width:100px !important;
	height: 80px !important;
	z-index:1;
	color:var(--text);
  }
  .connection-title {
    max-width: 95px;
    padding: 0.15em;
    height: 24px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: var(--wing1);
    border-radius: 0.25em;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: 0.2s;
  }
  

  .connection-div:hover .connection-title {
    opacity: 1;
  }

  .icon-style {color:var(--iconcolor);font-size: 70px;padding-top: 15px;padding-bottom: 5px;}
  .icon-style-custom {color:var(--iconcolor);padding-top: 15px;padding-bottom: 5px;}
  

.connection-div {height: 110px;width:110px;display: inline-block;margin-top: -10px;}

.flag-name {text-decoration: none;transition: 0.15s;}
.flag-name:hover {color: var(--text);text-decoration: none;}
.pronoun-values {background-color:var(--wing3);padding-left:5px;padding-right:5px;border-radius:2px;}
#clock {background-color:var(--wing3);padding-left:5px;padding-right:5px;border-radius:2px;}
.divider {width: 100%;height: 2px;background-color: var(--wing1);margin-top: 14px;margin-bottom: 14px;}
#roblox {width: 300px;height: 100px;background-color: var(--wing1);margin-top: 20px;margin-bottom: 20px;}

.listening-to-spotify {
	display: flex;
	flex-direction: column;
	padding: 6px;
    height: 100px;
    border-radius: 8px;
    margin-top: 14px;
    background-color: var(--wing2);
    margin-left: 6px;
    margin-right: 6px;
  }
  
  .listening-to-spotify-content {
	display: flex;
	align-items: left;
	width: 100%;
	margin-top: 0px;
  }
  #discord-activity-section {transition: 0.25s;margin-top: -8px;}
  #discord-activity-section2 {transition: 0.25s;position: absolute;margin-top: 208px;background-color: var(--wing3);border-radius: 8px;display: none;}
  .play-on-spotify-link {
	display: block;
  }
  
  .listening-to-spotify-cover {
	width: 100px;
	height: 100px;
    border-radius: 8px;
  }
  .listening-to-spotify-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
    margin-left: 6px;
  }
  
  .listening-to-spotify-song {
	font-weight: bold;
	font-size: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 30px;
	margin-top: -14px;
    text-align: left;
  }
  .listening-to-spotify-artist {
	font-size: 15px;
	margin-top: -55px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 20px;
    text-align: left;
  }
  
  #listening-to-spotify-elapsed-time-wrapper {
	display: flex;
	align-items: center;
	width: calc(100% - 0px);
    height: 30px;
  }
  
  #listening-to-spotify-elapsed-time {
	font-weight: 500;
	margin-top: 4px;
	font-size: 20px !important;
  }

  #listening-to-spotify-progress-bar-wrapper {
    width: calc(100% - 12px);
    margin-right: 0px;
    margin-top: -26px;}

    #listening-to-spotify-elapsed-time-wrapper2 {
        display: flex;
        align-items: center;
        width: calc(100% - 0px);
        height: 30px;
      }
      
      #listening-to-spotify-elapsed-time2 {
        font-weight: 500;
        margin-top: 4px;
        font-size: 20px !important;
      }
    
      #listening-to-spotify-progress-bar-wrapper2 {
        width: calc(100% - 12px);
        margin-right: 0px;
        margin-top: -26px;
}

h1 {font-family: 'Geologica', sans-serif;color:var(--text);}
h2 {font-family: 'Geologica', sans-serif;color:var(--text);font-weight: 400;}
span {font-family: 'Geologica', sans-serif;color:var(--text)}
div {font-family: 'Geologica', sans-serif;color:var(--text)}