
:root[data-applied-mode="dark"] {
  color-scheme: dark;
  --text: #fefefe;
  --background: #52546b /* alternitavely use 404254*/;
  --modal_background: #404254;
  --item: #2b2e3b;
  --item_background: #52546b;
  --wingback: #db5f6e;
  --icon: #9e9eff;
  --icon_hover: #6e6eb2;
}

:root[data-applied-mode="light"] {
    color-scheme: light;
    --text: #1E1E1E;
    --background: #fefefe;
    --wing1: #E5E5E5;
    --wing2: #CCCCCC;
    --wing3: #BFBFBF;
    --wingback: #db5f6e;
    --iconcolor: #1E1E1E;
}

/* Additional themes */
:root[data-applied-mode="spotify"] {
    --text: white;
    --background: #4500f2;
    --wing1: #BF4b92;
    --wing2: #e04b94;
    --wing3: #ee4f9d;
    --wingback: #6a2d68;
    --iconcolor: white;
}

:root[data-applied-mode="twitch"] {
    --text: white;
    --background: #ffcc5c;
    --wing1: #96ceb4;
    --wing2: #ff6f69;
    --wing3: #ced07d;
    --wingback: #0e9aa7;
    --iconcolor: #005f73;
}


body {
    background-color: var(--background);
    overflow: hidden;
    transition: 0.25s;
}

#topbar {
    height: 100px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#topbar2 {
    height: 100px;
    width: fit-content;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_wing {
        width: 300px;
        height: 150px;
        background-color: var(--wingback);
        transform: rotate(-5deg);
        transition: 0.2s;
        cursor: pointer;
        position: relative;
        z-index: 10;
        top:-140px;
        margin-left: -5px;
}
.back_wing:hover {
    height: 170px;
}
.animate-wing {
    animation: animate-wing 0.65s forwards;
}

.wing:hover {
    height: 170px;
}

.wing {
    width: 330px;
    height: 150px;
    background-color: blue;
    transform: rotate(-5deg);
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 10;
    top:-140px;
}

#menu_wing {
    background-color: var(--wing1);
}
  
.toggle {
    width: 255px;
    height: fit-content;
    font-size: 70px;
    margin-left: 20px;
    cursor: pointer;
    padding-left: 300px;
}

.fa-solid {display: inline;}

.flag-emojis {height: 24px;margin-bottom: -3px;}

#link:hover {color: var(--text);text-decoration: none;}
#link {transition: 0.15s;}
#yeaah {width: 100%;height: 100%;background-color: var(--wing1);position: absolute;margin: -10px;display: none;z-index: 10;}

#main {
  background-color: var(--modal_background);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 900px;
  max-height: 500px;
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

#left_side {
  margin: 10px;
  position: relative;
  width: 235px;
}

#left_side_scrollable {
  position: relative;
  border-radius: 8px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 235px;
  margin-top: 10px;
}

#top_left {
  width: 215px;
  height: 215px;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  background-color: var(--item_background);
}

#bottom_left {
  width: fit-content;
  height: 235px;
  margin-left: 0px;
  position: relative;
  display: flex;
}

#right_side {
  width: calc(100% - 392px);
  height: calc(100% - 20px);
  margin-top: 10px;
  position: relative;
  border-radius: 8px;
}

#top_right {
  width: 100%;
  height: 342.5px;
  position: relative;
  border-radius: 8px;
  background-color: var(--item_background);
  overflow: hidden;
}

#text {
  margin: 10px;
  height: calc(100% - 40px);
  font-size: 30px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 8px;
  background-color: var(--modal_background);
  padding: 10px;
}

#menu {
  margin: 10px;
  height: calc(100% - 40px);
  background-color: var(--item);
  padding: 10px;
  border-radius: 8px;
  font-size: 30px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#bottom_right {
  height: 127.5px;
  width: calc(100% - 137.5px);
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  background-color: var(--item_background);
  overflow: hidden;
}

#bottom_right_settings {
  height: 127.5px;
  width: 127.5px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  margin-left: -127.5px;
  margin-top: auto;
  bottom: 10px  ;
  display: flex;
  background-color: var(--item_background);
}

#center_side {
  height: calc(100% - 30px);
  width: 96px;
  border-radius: 8px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  position: relative;
  background-color: var(--item_background);
  overflow-y: scroll;
  scrollbar-width: none;
} 
  #pfp_img {
    border-radius: 8px;
    z-index: 1;
    position: relative;
  }
  
  #pfp {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
    position: relative;
  }
  
  #username {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 38px;
    display: block;
    background-color: var(--modal_background);
    border-radius: 8px;
    padding: 10px;
    height: 48px;
  }

  #user_info_inner {
    margin:10px;
    height: calc(100% - 20px);
  }
  
  #status {
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0s;
    margin-left:10px;
    margin-top:10px;
  }
  
  #status_border {
    z-index: 2;
    position: relative;
    display: block;
    background-color: var(--item_background);
    width: 51px;
    height: 50px;
    left: 165px;
    top:-54px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #status_border:hover #status_text {opacity: 1;}

  .listening-to-spotify {
    display: flex;
    flex-direction:column;
    border-radius: 8px;
    background-color: var(--item_background);
    width: 215px;
    padding: 10px;
    transition: 0.5s;
    }
  .listening-to-spotify-content {
    display: flex;
  }
  .listening-to-spotify-info {
    margin-top: 10px;
  }
    
    .play-on-spotify-link {
    display: block;
    width: 102.5px;
    height: 102.5px;
    background-color: var(--modal_background);
    border-radius: 8px;
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    }
  
    #play-on-spotify-button {
      width: 102.5px;
      font-size: 84.5px;
      padding: 10px;
      transition: 0.25s;
      color: var(--icon);
      cursor: pointer;
    }

    #play-on-spotify-link:hover #play-on-spotify-button {
      color: var(--icon_hover);
    }
    
    .listening-to-spotify-cover {
    width: 102.5px;
    height: 102.5px;
      border-radius: 8px;
    }
    .listening-to-spotify-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 195px;
    padding: 10px;
    height: 82px;
    background-color:var(--modal_background);
    border-radius: 8px;
    }
    
    .listening-to-spotify-song {
    font-weight: bold;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -4px;
    text-align: left;
    }
    .listening-to-spotify-artist {
    font-size: 15px;
    margin-top: -60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
    text-align: left;
    }
    
    #listening-to-spotify-elapsed-time-wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 0px);
    height: 30px;
    margin-bottom: -10px;
    }
    
    #listening-to-spotify-elapsed-time {
    font-weight: 500;
    font-size: 20px !important;
    }
  
    #listening-to-spotify-progress-bar-wrapper {
      width: calc(100% - 12px);
      margin-right: 0px;
      margin-top: -34px;}
  
      #listening-to-spotify-elapsed-time-wrapper2 {
          display: flex;
          align-items: center;
          width: calc(100% - 0px);
          height: 30px;
        }
        
        #listening-to-spotify-elapsed-time2 {
          font-weight: 500;
          margin-top: 4px;
          font-size: 20px !important;
        }
      
        #listening-to-spotify-progress-bar-wrapper2 {
          width: calc(100% - 12px);
          margin-right: 0px;
          margin-top: -36px;
  }




.discord_emoji {
    display: inline-block;
    height: 36px;
    margin-bottom: -8px;
}
#accounts {border-radius: 8px;margin-top: -10px;}
#account_wrapper {
  height: calc(100% - 10px);
  border-radius: 8px;
  overflow-x: hidden;
  scrollbar-width: none;
}
.connection-icons {
	border-radius: 8px;
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	z-index:1;
	color:var(--icon);
  transition: 0.25s;
  }
  .connection-icons:hover {
    color: var(--icon_hover);
  }

  .connection-icons-custom {
	border-radius: 8px;
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: relative;
	z-index:1;
  color: var(--icon);
  display: block;
  margin-top: 10px;
  }

  .custom-icon {
    fill: var(--icon);
    margin: 10px;
    transition: 0.25s;
  }
  .custom-icon:hover {
    fill: var(--icon_hover);
  }
  

  .connection-div:hover .connection-title {
    opacity: 1;
  }

  .icon-style {
    color:var(--iconcolor);
    margin-left: -10px;
    margin: 9.5px;
    font-size: 78px;
    background-color: var(--modal_background);
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

.connection-div {height: 96.5px;width:96.5px;
  margin-top: 10px;
  background-color: var(--modal_background);border-radius: 8px;}

.flag-name {text-decoration: none;transition: 0.15s;color:var(--icon)}
.flag-name:hover {color: var(--text);text-decoration: none;}
.pronoun-values {background-color:var(--modal_background);padding-left:5px;padding-right:5px;border-radius:2px;}
#clock {background-color:var(--item_background);padding-left:5px;padding-right:5px;border-radius:8px;font-size: 26px;width: calc(100% - 10px);display: inline-block;}
.divider {width: 100%;height: 3px;background-color:  var(--item_background);margin-top: 9px;margin-bottom: 9px;}
#roblox {width: 300px;height: 100px;background-color: var(--wing1);margin-top: 20px;margin-bottom: 20px;}

.emoji-status {
  height: 26px;
  border-radius: 8px;
  margin-left: 3px;
  margin-top: 2px;
}
.emoji {
  height: 28px;
}
#status-emoji {
  position: absolute;
  z-index: 1;
  display: inline-block;
}

#discord-status {
  display: inline-block;
  font-size: 22px;
  margin-left: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 36px);
}

#discord_status {
  background-color: var(--modal_background);
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
}

#settings {
  font-size: 86px;
  cursor: pointer;
  color: var(--icon);
  transition: 0.25s;
  transform: rotate(30deg);
}

#settings_bg {
  background-color: var(--modal_background);
  width: 100%;
  width: 100%;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  border-radius: 8px;
}

#settings:hover {
  color: var(--icon_hover);
}

#preloader {
  width: 100%;
  height: 100%;
  margin-left: -10px;
  margin-top: -10px;
  background-color: var(--background);
  position: fixed;
  z-index: 10;
}


#friends {
  background-color: var(--item_background);
  border-radius: 8px;
  margin-left: 10px;
  width:fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 235px;
  display: flex;
}

#friends_inner {
  background-color: var(--item_background);
  border-radius: 8px;
  margin-left: 10px;
  width:fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 235px;
  display: flex;
}

#friends_container {
  height: 215px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 8px;
}

#friends_avatar {
  height: 135px;
  width: 135px;
  border-radius: 8px;
}

#friends_avatar_bg {
  padding: 10px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: var(--modal_background);
}

.friends_background {
  width: 225px;
  height: 115.5px;
  margin-top: -115.5px;
  z-index: 0;
  position: absolute;
}

#friends_name {
  margin-top: 10px;
  max-width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 8px;
  position: relative;
  padding: 10px;
  background-color: var(--modal_background);
  font-size: 20px;
  text-align: center;
}